* {
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.titulo {
  font-size: 50px;
}

.subtitulo {
  font-size: 30px;
}

.color {

  font-weight: 700;
}

header {

  display:flex;
  flex-direction: column;
  align-items: center;
}



body {

  background-image: url("x-home.jpeg");
  background-size:cover; /* Cobre toda area da página */
  background-position:center ; /* posiçao que a imagem fica na tela */
  background-repeat: no-repeat;
  height: 100vh;

}




