* {
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}


/* estilizaçao do topo */
.titulo {
 
  font-size: 30px;
  color: white;
}

.subtitulo {
  font-size: 50px;
  line-height: 0.9;
  color: black;
}

.bg {
  background-color:#00bc00 ;
  height: 200px;
}


/* estilizaçao caixa de plano */

.bg2{
  background-color: black;
  max-width: 300px;
  height: 100px;
  margin-bottom: 30px;
  position:relative;
  bottom:50px;

}


.alinhamento {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.cor {
  color:white;
}

.cta {
  display: flex;
  justify-content: center;
  
}

button {
  height: 100px;
  width: 200px;
  
}

.btn-success {
  font-size: 30px !important;
  background-color: #00bc00 !important;
}

/* Diferenciais */
.diferenca {
  margin-top: -50px;
  font-size:30px;
  }

.diferencasub{
  font-size: 25px;
  color: black;
}


a {
  text-decoration: none;
}


i {
  font-size: 25px;
  color:#00bc00;
}

.background {
  background-image: url(bg4.jfif);
  background-size:cover;
}

.background2 {
  background-image: url(bg3.jfif);
  background-size:cover;
}

/* 
 https://pay.juno.com.br/checkout.html?code=5661AD7BEB9C3647
 https://pay.juno.com.br/checkout.html?code=627338BD4093D598
 */

 .altura {

   margin-top: -40px;
 }

 /* animações 
.imagemefeito{
  animation-name: slide;
  animation-duration:8s;
  opacity: 0;
  transform: translateX(-180px);
  animation-fill-mode: forwards;
  
}

 .animarbeneficios1{
  animation-name: slide;
  animation-duration:10s;
}
 .animarbeneficios2{
  animation-name: slide;
  animation-duration:14s;
}
 .animarbeneficios3{
  animation-name: slide;
  animation-duration:18s;
}
 .animarbeneficios4{
  animation-name: slide;
  animation-duration:22s;
}




@keyframes slide  {
  from {
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity:1;
  }
}

*/